:root{
    --primary-color: orange;
}

.bubble {
    fill: var(--primary-color);
    opacity: 0.8;
    stroke: black;
    stroke-width: 1px;
}

.node-group:hover .bubble {
    fill: rgba("255, 164, 0, 0.4");
    stroke-width: 3px;
    opacity: 0.1;
}


.links line {
    stroke: rgba(0,0,0,0.1);
}

.album:hover {
    stroke: red,;
    stroke-width: 3px;
    border-width: 3px;
    border-style: solid;
    opacity: 0.1;
}
#graph {
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.4);
    background-color: #f8fbff;
}
#graph:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;

}

#graph-controls {
    position: relative;
    left: 10px;
    bottom: 40px;
}

.navigate-graph-button {
    border-style: solid;
    border-color: gray;
    border-radius: 10px;
    border-width: 2px;
    padding: 5px;
    width: 10%;
}

.bar {
    fill: var(--primary-color);
}

.further-details {
    float: right;
}

.chart-line {
    stroke: var(--primary-color);
    stroke-width: 3px;
    fill: none;
}
